# Credentials and sensitive information
service-account.json
service-account-for-vercel.txt
minified-service-account.txt
*.pem
*.key
*.env

# Environment and virtual environment
venv/
env/
.env
.venv
__pycache__/
*.py[cod]
*$py.class

# Dependencies
node_modules/

# System files
.DS_Store
Thumbs.db

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Build files
*.log
dist/
build/

# Heroku specific
heroku-installer.exe 